/*Importing text styles*/
@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

/*Setting the body*/
body {
  background: orange;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  height: 100%;
  cursor: none;
}

* {
  cursor: none;
}

/*The main wrapper*/
.wrapper {
  width: 800px;
  margin: 30px auto;
  color: white;
  text-align: center;
}

/*Header 1*/
h1 {
  font-weight: 100;
  animation-play-state: paused;
  font-size: 400%;
  font-family: "Orbitron", sans-serif;
  animation-name: main-title-animation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

/*Header 2*/
h2 {
  font-family: "Orbitron", sans-serif;
  font-weight: 100;
  font-size: 1.6em;
  text-transform: uppercase;
}

/*Header 3*/
h3 {
  font-family: "Orbitron", sans-serif;
  font-weight: 100;
  font-size: 2.6em;
  text-transform: uppercase;
}

/*Seconds and Tens Text*/
#seconds,
#tens {
  font-size: 2em;
}

/*Buttons used on page*/
button {
  cursor: none;
  border: 1px solid #fff;
  font-family: "Orbitron", sans-serif;
  background: orange;
  color: orange;
  border: 0px;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.2em;
  padding: 18px 10px;
  width: 180px;
  margin: 10px;
  outline: none;
  border-radius: 10px;
  cursor: none;
}

/*On button hover*/
button:hover {
  cursor: none;
  transition: all 600ms ease;
  background-color: orange;
  border: 1px solid #fff;
  color: white;
}

/*After leaving hover*/
button:not(:hover) {
  cursor: none;
  transition: all 1000ms ease;
  background-color: white;
  color: orange;
  border: 1px solid #fff;
}

a {
  font-family: "Orbitron", sans-serif;
}

p {
  font-family: "Orbitron", sans-serif;
}

b {
  font-family: "Orbitron", sans-serif;
  font-size: 10px;
}

/*main-title-animation for the main title*/
@keyframes main-title-animation {
  25% {
    font-size: 400%;
    opacity: 1;
  }
  40% {
    font-size: 300%;
    opacity: 0;
  }
  55% {
    font-size: 300%;
    opacity: 1;
  }
  65% {
    font-size: 200%;
    opacity: 0;
  }
  55% {
    font-size: 300%;
    opacity: 1;
  }
  40% {
    font-size: 300%;
    opacity: 0;
  }
  25% {
    font-size: 200%;
    opacity: 1;
  }
}
